body {
  font-family: Arial, sans-serif;
  background-color: #f9fafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 320px;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #253858;
  margin-bottom: 10px;
}

.subtitle {
  margin-right: 190px;
  margin-bottom: 20px;
  color: #333;
  font-size: 20px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.remember {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
}

.remember input {
  margin-right: 8px;
}

.signup-text {
  font-size: 14px;
  margin-bottom: 20px;
}

.signup-text a {
  color: #007bff;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  margin-top: 20px;
  font-size: 13px;
  color: #777;
}
.error{
 color: red;
 font-size: 14px; 
}
.hug-alert {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #f44336;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  z-index: 9999;
  transition: all 1s ease-in-out;
  opacity: 0;
}

.hug-alert.show {
  opacity: 1;
}